*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#f4f4f4;
}

.layout{
  display:flex;
  height:100vh;
}

.sidebar{
  width:250px;
  background:#181818;
  color:white;
  padding:30px 20px;
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:#ff7a00;
  margin-bottom:40px;
}

nav{
  display:flex;
  flex-direction:column;
  gap:10px;
}

nav a{
  padding:14px;
  border-radius:12px;
  cursor:pointer;
  transition:0.2s;
}

nav a:hover{
  background:#2a2a2a;
}

.active{
  background:#ff7a00;
}

.main{
  flex:1;
  padding:30px;
  overflow:auto;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:30px;
}

.topbar h1{
  font-size:32px;
}

.topbar p{
  color:#666;
  margin-top:5px;
}

.btn{
  background:#ff7a00;
  color:white;
  border:none;
  padding:14px 22px;
  border-radius:14px;
  cursor:pointer;
  font-size:15px;
  font-weight:bold;
}

.agenda-container{
  background:white;
  border-radius:20px;
  overflow:hidden;
  box-shadow:0 5px 20px rgba(0,0,0,0.05);
}

.agenda-header{
  display:grid;
  grid-template-columns:80px repeat(4,1fr);
  background:#fafafa;
  border-bottom:1px solid #eee;
}

.professional{
  padding:20px;
  font-weight:bold;
  border-left:1px solid #eee;
}

.agenda-body{
  display:grid;
  grid-template-columns:80px repeat(4,1fr);
  min-height:900px;
}

.time-column{
  border-right:1px solid #eee;
  background:#fafafa;
}

.time{
  height:80px;
  padding:10px;
  color:#777;
  font-size:14px;
  border-bottom:1px solid #eee;
}

.column{
  border-right:1px solid #eee;
  padding:10px;
  position:relative;
}

.appointment{
  background:#dcebff;
  border-left:5px solid #ff7a00;
  border-radius:14px;
  padding:12px;
  margin-bottom:12px;
  cursor:pointer;
}

.appointment strong{
  display:block;
  margin-bottom:5px;
}

.appointment span{
  display:block;
  color:#555;
  font-size:14px;
  margin-bottom:6px;
}

.appointment small{
  color:#ff7a00;
  font-weight:bold;
}
